.Task {
  display: grid;
  grid-auto-flow: column;
  gap: 0.2em;
  align-items: center;

  -webkit-tap-highlight-color: transparent;
  user-select: none;
  border-radius: 3px;
  background-color: #ddd;
  padding: 0.2em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: box-shadow 0.2s ease;

  font-weight: bold;
  font-size: 2em;
  line-height: 1em; /* ensure that the bounding box is not too high */
  cursor: pointer;
  white-space: nowrap;
}

.Task__priority {
  width: 1rem;
  height: 1rem;
  border-radius: 0.5rem;
}

.Task__priority--very-low {
  background-color: cyan;
}

.Task__priority--low {
  background-color: green;
}

.Task__priority--normal {
  background-color: yellow;
}

.Task__priority--high {
  background-color: orange;
}

.Task__priority--very-high {
  background-color: red;
}

.Task__edit-button {
  width: 1rem;
  height: 1rem;
  justify-self: end;
  background-image: url("/resources/feather/edit-2.svg");
  opacity: 0;
  transition: opacity 0.2s;
}

.Task:hover .Task__edit-button {
  opacity: 1;
}

.Task:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.Task.dragged {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  z-index: 1;
}

.Task--completed {
  opacity: 25%;
}

.Task--completed::before {
  content: "";
  position: absolute;
  --thickness: 0.2em;
  height: var(--thickness);
  top: calc(50% + var(--thickness) / 2);
  left: 0;
  right: 0;
  background-color: black;
  animation: 1s ease-in-out strikethrough;
  border-radius: calc(var(--thickness) / 2);
}

.Task--selected {
  background-color: lightblue;
}

.Task__handle {
  --radius: 0rem;
  position: absolute;
  left: calc(50% - var(--radius));
  bottom: calc(-1 * var(--radius));
  width: calc(2 * var(--radius));
  height: calc(2 * var(--radius));
  border-radius: var(--radius);
  background-color: black;

  /* prettier-ignore */
  transition:
    width 0.35s ease,
    height 0.35s ease,
    border-radius 0.35s ease,
    left 0.35s ease,
    bottom 0.35s ease;
}

.Task:hover .Task__handle {
  --radius: 0.75rem;
}

.Task--next {
  border: 1px solid red;
}
