@font-face {
  font-family: "PermanentMarker";
  src: url("fonts/PermanentMarker/PermanentMarker-Regular.ttf")
    format("truetype");
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(139, 108, 68);
  touch-action: none;
}

.task {
  /* border: 1px solid black; */
  position: absolute;
  font-family: "PermanentMarker";
  font-size: 2em;
  line-height: 1em; /* ensure that the bounding box is not too high */
  cursor: pointer;
}

.selected {
  background-color: aquamarine;
}

#arrows {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
}

#arrows > path {
  stroke: black;
  stroke-width: 4px;
  marker-end: url(#Triangle);
}

#newTask {
  display: none;

  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;

  width: 80vw;
  padding: 1em;

  opacity: 80%;

  font-family: "PermanentMarker";
  font-size: 1.5em;
}

#create-task-button {
  position: absolute;
  left: 5px;
  top: 50px;
}

#link-mode-checkbox {
  position: absolute;
  left: 5px;
  top: 85px;
}

#fileInput {
  position: absolute;
  left: 5px;
  top: 150px;
}
