@font-face {
  font-family: "PermanentMarker";
  src: url("resources/fonts/PermanentMarker/PermanentMarker-Regular.ttf")
    format("truetype");
}

body {
  margin: 0;
  padding: 0;
  background: url("resources/Brown-Paper.jpg");
  touch-action: none;
  overflow: hidden;
}

#graph {
  height: 100vh;
}

.task {
  /* border: 1px solid black; */
  position: absolute;
  font-family: "PermanentMarker";
  font-size: 2em;
  line-height: 1em; /* ensure that the bounding box is not too high */
  cursor: pointer;
  white-space: nowrap;
}

.selected {
  background-color: aquamarine;
}

.task.completed::before {
  content: "";
  position: absolute;
  --thickness: 0.2em;
  height: var(--thickness);
  top: calc(50% + var(--thickness) / 2);
  left: 0;
  right: 0;
  background-color: black;
  animation: 1s ease-in-out strikethrough;
  border-radius: calc(var(--thickness) / 2);
}

@keyframes strikethrough {
  from {
    right: 100%;
  }
  to {
    right: 0%;
  }
}

#arrows {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  overflow: visible;
}

#arrows > path {
  stroke: black;
  stroke-width: 4px;
  marker-end: url(#Triangle);
}

#newTask {
  display: none;

  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;

  width: 80vw;
  padding: 1em;

  opacity: 80%;

  font-family: "PermanentMarker";
  font-size: 1.5em;
}

#toolbar {
  padding: 2em;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1;
  display: flex;
  align-items: center;
}

#toolbar button {
  width: 4em;
  height: 4em;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
}

button {
  cursor: pointer;
}

#link-mode-checkbox svg {
  width: 6em;
  height: 6em;
}

#deleteTaskButton {
  background-image: url('resources/feather/trash-2.svg');
}

#createTaskButton {
  background-image: url('resources/feather/plus-circle.svg');
}

#saveButton {
  background-image: url('resources/feather/save.svg');
}
