.Toolbar {
  position: fixed;
  right: 2em;
  bottom: 2em;
  z-index: 1;
}

.Toolbar__button {
  width: 5em;
  height: 5em;
}

.Toolbar__delete-selected-button {
  background-image: url("resources/feather/trash-2.svg");
}

.Toolbar__complete-selected-button {
  background-image: url("resources/feather/check-circle.svg");
}

.Toolbar__create-task-button {
  background-image: url("resources/feather/plus-circle.svg");
}

.Toolbar__change-link-mode-button {
  background-image: url("resources/feather/link.svg");

  border-bottom: 0.2rem solid transparent;

  /* Display the button correctly even with the border */
  background-repeat: no-repeat;
  background-position: center;
}

.Toolbar__change-link-mode-button--active {
  border-bottom: 0.2rem solid;
}
