@font-face {
  font-family: "PermanentMarker";
  src: url("resources/fonts/PermanentMarker/PermanentMarker-Regular.ttf")
    format("truetype");
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

.iconButton {
  background-size: contain;
  background-color: transparent;
  border: none;
}

button {
  cursor: pointer;
}
