#graph {
  height: 100%;
  background-color: #ccc;
  overflow: hidden;
}

.Graph__zoom-indicator {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.selected {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background-color: aquamarine;
}

@keyframes strikethrough {
  from {
    right: 100%;
  }
  to {
    right: 0%;
  }
}

#arrows {
  position: absolute;
  left: 0;
  top: 0;
  overflow: visible;
}

#arrows > path {
  stroke: black;
  stroke-width: 6px;
  stroke-linecap: round;
  marker-end: url(#Triangle);
}
